.button {
  margin: 80px auto;
  background: transparent;
  border: 1px solid var(--button);
  border-radius: 12px;
  padding: 12px 38px;
  display: block;
  cursor: pointer;

  &:hover {
    border-color: var(--button-hover);
  }
}
