.hero {
  position: absolute;
  background-image: radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/src/assets/home_bg.jpg");
  background-size: cover;
  background-position: 50% 50%;
  padding-bottom: 10%;
  top: 68px;
  left: 0;
  height: calc(100% - 68px);
  width: 100%;
  color: var(--white);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 120%;
    margin-top: auto;
  }
  p {
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    margin-top: 16px;
    margin-bottom: 40px;
  }

  .button {
    display: inline-block;
    padding: 12px 99px;
    width: max-content;
  }
}
