.button-general {
  background: var(--button);
  border-radius: 12px;
  border-color: transparent;
  padding: 12px;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: var(--white);
  transition: background 250ms ease;

  &:hover {
    background: var(--button-hover);
  }
}
